<%@page_title = "Diagnostics"%>

<div id="diagnosticsChoice" class="mainAction">
	<h1><%=@page_title%></h1>
	
	<ul class="mainActionNav">
		<li><%=link_to image_tag("network_health_test_button.svg"), :action => "new", :diagnostic_type => "network_health_test"%></li>
    	<li><%=link_to image_tag("hardware_stress_test_button.svg"), :action => "new", :diagnostic_type => "hardware_stress_test"%></li>
		<li><a href="#" id="bluescreen_view_link"><img src="/assets/view_bluescreen_errors_button.svg"/></a></li>
	</ul>
	
	<div id="external_action_load" style="display: none"></div>

	<div class="informationalDisplay">
		<h1>Usage Tip:</h1>

		<p>The Diagnostics page will help you determine lower-level non-infection related problems on the clien't 
			system. This would be things like hardware problems and low-level software problems like drive issues.</p>

		<ul>
			<li><b>Network health test:</b> This test will test the health of all network hardware by sending a 
				bunch of data as quickly as possible through the network and measuring if any of it got lost and 
				how long it took to travel.</li>
			<li><b>Bluescreenview:</b> This utility is provided by Nirsoft and will alllow you to view any recent 
				Bluescreen erros from the client's computer. It's actually a Windows based program and is run here 
				via WINE (a Windows compatibility layer) so it may take a little while to start up.
				<b><a href="http://www.nirsoft.net/utils/blue_screen_view.html">Click here for more information</a></b></li>
		</ul>
	</div>
</div>

<script>	
	load_action_in_hidden_div("bluescreen_view_link", "/diagnostics/new?diagnostic_type=bluescreen_view", "external_action_load")
</script>
