<%@page_title = "Diagnostics"%>

<div id="diagnosticsChoice" class="mainAction">
	<ul>
		<li><%=link_to "View bluescreen errors", :action => "new", :diagnostic_type => "bluescreen_view"%></li>
	</ul>
</div>