<%@page_title = "Diagnostics"%>

<div id="diagnosticOperation" class="mainAction">
	<%if @diagnostic_type == "bluescreen_view"%>

		<h2>BluescreenView will open in another window...</h2>

	<%elsif @diagnostic_type == "network_health_test"%>	

		<%=link_to "ping 100", :action => "ping_test", :number_of_pings => "100"%></br>
		<%=link_to "ping 1,000", :action => "ping_test", :number_of_pings => "1000"%>

	<%end%>
</div>