<%@page_title = "Diagnostics"%>

<div id="diagnosticOperation" class="mainAction">
	<%if @diagnostic_type == "bluescreen_view"%>

		<h2>BluescreenView will open in another window...</h2>

	<%elsif @diagnostic_type == "network_health_test"%>	

		<h2>Network health test</h2>

		<%=form_tag(:action => "ping_test", :method => "get") do%>
			<%=label_tag(:start_date, "Number of pings to send:")%> <%=text_field_tag(:number_of_pings)%><br>
			<%=submit_tag("Start ping test...")%>
		<%end%>

	<%end%>
</div>