<%@page_title = "Downloads"%>

<%if @online_status == true%>
	<div id="downloadChoices" class="mainAction">
		<%=form_tag(:action => "fetch_downloads", :method => "get") do%>
			<%@file_links.each{|key, value|%>
				<%=check_box_tag "download_links[]", "#{key}|#{value}"%> <%=key%></br>
			<%}%>
			<%=submit_tag("Download files")%>
		<%end%>
	</div>
<%else%>
	<div id="downloadChoices" class="mainAction">
		<p>You are offline</p>
	</div>
<%end%>