<%@page_title = "Downloads"%>

<%if @online_status == true%>
	<div id="downloadChoices" class="mainAction">
		<%=form_tag(:action => "fetch_downloads", :method => "get") do%>
			<%@file_links.each{|key, value|%>
				<%=check_box_tag "download_links[]", "#{key}|#{value}"%> <%=key%></br>
			<%}%>
			<%=submit_tag("Download files")%>
		<%end%>

		<div id="informationalDisplay">
			<h1>Usage Tip:</h1>

			<p>This is a collection of Windows utilities that we find very useful. They will all be 
				downloaded to the C:\Compensato\Downloads folder on the client's system. These utilities 
				MUST be run under Windows and have there own various licenses that are not necessarrily 
				Open Source. Credit is due to each developer individually and we are only providing an 
				automated way to download these programs. Check the boxes next to the programs you want 
				to download and click the "Download files" button when you're ready</p>

			<p>Here's the break-down:</p>

			<ul>
				<li><b>Full Compensato Suite:</b> This is a self-installing (from ninite.com) suite of 
					software that contains all of the programs we recommend for a new computer setup.</li>
				</br>

				<li><b>TDSSKiller:</b> This is an anti-rootkit utility provided by Kaspersky. It detects and removes 
					some of the most common rootkit infections and usually takes less than a minute to run. We recommend 
					running this anytime you think there might have been an infection of any type on the client's system.
					<b><a href="http://support.kaspersky.com/viruses/solutions?qid=208280684">Click here for more information</a></b></li>
				</br>

				<li><b>Malwarebytes:</b> Malwayrebytes is a great general purpose malware scanner for Windows. It's 
					quick and effective and should be run any time an infection is suspected. This is a self-installer 
					from ninite.com
					<b><a href="http://www.malwarebytes.org">Click here for more information</a></b></li>
				</br>

				<li><b>ComboFix:</b> A utility developed by sUBs that cleans some very nasty infections 
					automatically. It can take a while to run (sometimes 20-30 minutes) but can get out quite 
					a few infections like rootkits that other utilities have trouble removing. if Combofix can't 
					get rid of it, then you might realistically be looking at an OS re-install.
					<b><a href="http://www.bleepingcomputer.com/combofix/how-to-use-combofix">Click here for more information</a></b></li>
				</br>

				<li><b>Google Chrome:</b> The most secure and fastest web browser avaiable (in our opinion). This is an 
					automated installer from ninite.com
					<b><a href="http://chrome.google.com">Click here for more information</a></b></li>
				</br>

				<li><b>Microsoft Security Essentials:</b> A great free anti-virus program provided by Microsoft. This is an 
					automated installer from ninite.com
					<b><a href="http://windows.microsoft.com/en-us/windows/security-essentials-download">Click here for more information</a></b></li>
				</br>

				<li><b>Adobe Flash:</b> The venerable flash player from Adobe. This will download an automated installer 
					from ninite.com that will install both the Internet Explorer and non-Internet Explorer versions of Flash
					<b><a href="http://get.adobe.com/flashplayer">Click here for more information</a></b></li>
				</br>

				<li><b>Java:</b> Java required for some applications and some advanced web functions. These days it seems 
					to ba falling a bit out of use due to more capable web browsers and web satndards as well as an 
					increased number of security vulnerabilities. This is an automated installer from ninite.com that will 
					install bot the 32-bit and 64-bit editions as necessary.
					<b><a href="http://java.com">Click here for more information</a></b></li>
				</br>				
			</ul>
		</div>

	</div>
<%else%>
	<div id="downloadChoices" class="mainAction">
		<p>You are offline</p>
	</div>
<%end%>