<%@page_title = "File Operations"%>

<div id="mainAction">
<ul>
	<li><%=link_to "File scan", :action => "new", :fileOpType => "file_scan"%></li>
	<li><%=link_to "File copy", :action => "new", :fileOpType => "file_copy"%></li>
</ul>
</div>