<%@page_title = "File Operations"%>

<div id="fileOpChoice" class="mainAction">
<ul>
	<li><%=link_to "File scan", :action => "new", :fileOpType => "file_scan"%></li>
	<li><%=link_to "File copy", :action => "new", :fileOpType => "file_copy"%></li>
	<li><%=link_to "Clean temporary files", :action => "new", :fileOpType => "clean_temp_files"%></li>
	<li><%=link_to "Edit partitions", :action => "new", :fileOpType => "edit_partitions"%></li>
</ul>
</div>