<%@page_title = "File Operations"%>

<div id="fileOpChoice" class="mainAction">
	<h1><%=@page_title%></h1>

	<ul>
		<li><%=link_to "File Scan", :action => "new", :file_op_type => "file_scan"%></li>
		<li><a href="#", id="view_ie_browser_history_link">View Web Browser History</a></li></br>
		<li><%=link_to "Complete folder data copy", :action => "new", :file_op_type => "complete_folder_copy"%></li>
		<li><%=link_to "Clean Temporary Files", {:action => "new", :file_op_type => "clean_temp_files"}, :confirm => "Heads up, this may take a little while to calculate the total number of temp files..."%></li>
		<li><a href="#" id="folder_usage_display_link">View Space used by each folder</a></li>
	</ul>
	
	<div id="external_action_load" class="pop_over" style="display: none"></div>

	<div class="informationalDisplay">
		<h1>Usage Tip:</h1>
		<p>This page gives you access to the main file-related functions of Compensato.</p>
		<ul>
			<li><b>File Scan:</b> This will scan the system for recently modified files of an executable type. This 
				is a good way to surface recently infected files since they will be some of the most recently 
				modified files on the system by definition.</li>
			</br>
			<li><b>Migrate user data:</b> This will copy the entire contents of one folder to another. This is most commonly 
				used to copy the client's "User" or "Documents and Settings" folder to an external device prior to 
				formatting the system and re-installing. It can also be used after a format/re-install to copy the 
				data back.</li>
			</br>
			<li><b>Clean Temporary Files:</b> This will collect information about the amount of temporary files on 
				the client's system and then give you the opportunity to have them all removed.</li>
			</br>
			<li><b>View Space used by each folder:</b> Show a display of all folders ranked by total data usage. 
				This is a good way to find out where missing space on the client's drive might be disappearing to.</li>
		</ul>
	</div>
</div>

<script>
	load_action_in_hidden_div("folder_usage_display_link", 
								"/file_ops/new?file_op_type=folder_usage_display", 
								"external_action_load",
								false);
								
	load_action_in_hidden_div("view_ie_browser_history_link", 
								"/file_ops/new?file_op_type=view_ie_browser_history", 
								"external_action_load",
								true);
</script>