<%@page_title = "File Operations"%>

<div id="fileOpChoice" class="mainAction">
	<ul>
		<li><%=link_to "File Scan", :action => "new", :fileOpType => "file_scan"%></li>
		<li><%=link_to "Migrate user data to THIS computer", :action => "new", :fileOpType => "migrate_user_data"%></li>
		<li><%=link_to "Clean Temporary Files", :action => "new", :fileOpType => "clean_temp_files"%></li>
		<li><%=link_to "View Space used by each folder", :action => "new", :fileOpType => "folder_usage_display"%></li>
	</ul>

	<div class="informationalDisplay">
		<h1>Usage Tip:</h1>
		<p>This page gives you access to the main file-related functions of Compensato.</p>
		<ul>
			<li><b>File Scan:</b> This will scan the system for recently modified files of an executable type. This 
				is a good way to surface recently infected files since they will be some of the most recently 
				modified files on the system by definition.</li>
			</br>
			<li><b>Migrate user data:</b> This will copy the entire contents of one folder to another. This is most commonly 
				used to copy the client's "User" or "Documents and Settings" folder to an external device prior to 
				formatting the system and re-installing. It can also be used after a format/re-install to copy the 
				data back.</li>
			</br>
			<li><b>Clean Temporary Files:</b> This will collect information about the amount of temporary files on 
				the client's system and then give you the opportunity to have them all removed.</li>
			</br>
			<li><b>View Space used by each folder:</b> Show a display of all folders ranked by total data usage. 
				This is a good way to find out where missing space on the client's drive might be disappearing to.</li>
		</ul>
	</div>
</div>