<%@page_title = "Copying user data..."%>

<div id="fileCopyOutput" class="mainAction">
	Source Directory Size: <%=(@source_directory_size.to_f / 1000000).round(2)%>GB in <%=@source_directory_files%> files

	<script type="text/javascript">file_copy_progress("<%=Regexp.escape(@destination_directory).gsub("\\ ", "%20")%>", <%=@source_directory_files%>);</script>

	<div id="file_copy_progress">
		Destination directory size: Please Wait...
	</div>

	<div class="informationalDisplay">
		<h1>Usage Tip:</h1>

		<p>Above you will see the progress of your file copy. The progress display will update every <b>30 seconds</b>. 
			You will receive a message when your file copy is complete. Check the total for the source and destination 
			directory after that to make sure everything looks right. You don't want to take chances with client data.</p>
	</div>
</div>
