<div id="fileOperation" class="mainAction">
	<%if @file_op_type == "file_scan"%>
	
		<%=render "new_file_scan"%>
		
	<%elsif @file_op_type == "complete_folder_copy"%>
	
		<%=render "new_complete_folder_copy"%>
		
	<%elsif @file_op_type == "clean_temp_files"%>
	
		<%=render "new_clean_temp_files"%>
		
	<%elsif @file_op_type == "folder_usage_display"%>
	
		<%@page_title = "View Space used by each folder"%>
		
		<h2>The folder usage display will appear in a separate window</h2>
		
	<%elsif @file_op_type == "view_ie_browser_history"%>
	
		<%@page_title = "View Internet Explorer History"%>
		
		<%=render "new_view_ie_browser_history"%>
		
	<%end%>
</div>