<div id="openFileBrowserConfirmation" class="mainAction">
	<h2>Your folder will open in a seperate window. Click the Back button in your browser to return to the file list</h2>
</div>

<script>
	//close_this_window_in(1);
</script>
