<%@page_title = "Selected Files Log for the last #{@scan_days} days"%>

<div id="selectedFilesLog" class="fileListOutput">
	<h3>A copy of this scan log has been saved in the "Compensato" folder on the root of the client computer</h3>

	<%=form_tag(:action => "selected_files_log", :method => "get") do%>
		<%for extension in @extensions do%>
			<hr>
			<h4>.<%=extension.upcase%> files</h4>
			<hr>
			<ul>
				<%for selected_file_object in @selected_file_objects%>
					<%if selected_file_object.path.include?(".#{extension}")%>
						<li>
							<%=selected_file_object.mtime%> | <%=selected_file_object.path.gsub("/media/compensato_client", "")%>
						</li>
					<%end%>
				<%end%>
			</ul>
		<%end%>
	<%end%>
</div>