<ul>
	<%@partitions.each_pair{|partition, size|%>
		<li><%=link_to "#{partition} - #{size}", 
				:action => "new", 
				:disk_op_type => "mount_specific_drive", 
				:device_id => partition%></li>
	<%}%>

	<div class="informationalDisplay">
		<h1>Usage Tip:</h1>
		<p>Choose which drive you would live to mount as the client's drive by clicking on it. You will
			be redirected back to the main screen after the drive has been mounted.</p>
	</div>
</ul>