<%@page_title = "Disk Operations"%>

<div id="diskOpChoice" class="mainAction">
	<h1><%=@page_title%></h1>
	
	<ul>
		<li><a href="#" id="edit_partitions_link">Edit Partitions</a></li>
		<li><%=link_to "Schedule a file system check", :action => "new", :disk_op_type => "disk check"%></li>
		<li><a href="#" id="manually_mount_drive_link">Manually mount the client's drive</a></li>
	</ul>
	
	<div id="external_action_load" style="display: none"></div>

	<div class="informationalDisplay">
		<h1>Usage Tip:</h1>

		<p>This area for for disk based operations. Specifically:</p>

		<ul>
			<li><b>Edit Partitions:</b> This will open the gParted partition editor. gParted is a non-destructive 
				partition editor that can handle just about any filesystem in existence. That means that you can 
				resize and move partitions without losing any data. Depending on the amount of data on the partition 
				being manipulated it can either be a very quick operation or can take quite some time. For instance, 
				deleting a partition or increasing the size of one into already free space should take under minute 
				or two. But, moving a partition from one place to another with sever gigabytes of data could take 
				an hour or two.</li>
				
			<li><b>Schedule a file system check:</b> This will schedule a file system check (or chkdsk) on the 
				client's drive on the next reboot into Windows. We would love the just do the check right here, 
				but the filesystems that Microsoft uses are proprietary and don't seem to have any way to be checked 
				from outside of Windows. After clicking this link just reboot the computer normally and let Windows 
				run the check automatically while it's booting.</li>
		</ul>
	</div>
</div>

<script>
	load_action_in_hidden_div("edit_partitions_link", 
								"/disk_ops/new?disk_op_type=edit_partitions", 
								"external_action_load",
								false);

	load_action_in_hidden_div("manually_mount_drive_link", 
								"/disk_ops/new?disk_op_type=manually_mount_drive", 
								"external_action_load",
								true);
</script>