/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	background-color: #f7dfbb;
	font-family: arial;
	margin: 0px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
}

body ul{
	list-style: none;
}

a:link{
	text-decoration: none;
	color: #5d799c;
}

a:visited{
	color: #5d799c;
}

header{
}

header ul{
	margin: 0px 0px 0px 6%;
}

header li{
	float: left;
	margin: 0px 0px 0px 20px;
	font-size: 40px;
}

.mainAction{
	margin: 50px 0px 0px 20%;
	padding: 10px;
	background-color: #5d799c;
	color: #EBEBEB;
	font-size: 20px;
	text-align: left;
}

.mainAction a{
	color: #EBEBEB;
}

.mainAction a:visited{
	color: #EBEBEB;
}

.systemStatCat{
	font-weight: bold;
}

.fileListOutput{
	width: 2000px;
	margin: 50px 0px 0px 0px;
	font-size: 13px;
}

.fileListOutput li:hover{
	background-color: #EE8585;
	font-weight: bold;
}

.isolatedOnAllFilesScan{
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 5px;
	background-color: #000000;
	font-size: 20px;
	color: #FF0000;
}

div#informationalDisplay{
	margin: 20px 0px 0px 0px;
	padding:10px 10px 10px 30px;
	background-color:#9b6f2b;
	color:#EBEBEB;
	font-size: 15px;
}

div#informationalDisplay h1{
	font-size: 30px;
}

div#footer{
	margin:15px 0px 0px 85%;
}