/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	margin: -21px 0px 0px 0px;
	background-color: #FDFFED;
	font-family: arial;
}

body ul{
	list-style: none;
}

a:link{
	text-decoration: none;
	color: #5d799c;
}

a:visited{
	color: #5d799c;
}

header {
	padding: 9px 0px 0px 0px;
}

.mainHeaderLogo{
	margin: 0px 0px 0px 26px;
}

div#navigationMenu {
margin: -114px 0px 0px 244px;
font-size: 35px;
}

div#navigationMenu a{
	color:#616161;
}

div#navigationMenu a:visited{
	color:#616161;
}

div#navigationMenu li {
float: left;
margin: 0px 0px 0px 54px;
}

div#mainContent {
margin: 123px 0px 0px 44px;
}

.mainAction{
	padding: 28px 10px 10px 25px;
	border-bottom-left-radius: 57px;
	border-top-left-radius: 101px;
	background-color: #7995B8;
	box-shadow: 0px 0px 8px #000;
	color: #EBEBEB;
	font-size: 20px;
	text-align: left;
}

.mainAction a{
	color: #EBEBEB;
}

.mainAction a:visited{
	color: #EBEBEB;
}

.systemStatCat{
	font-weight: bold;
}

.fileListOutput{
	width: 2000px;
	margin: 50px 0px 0px 0px;
	font-size: 13px;
}

.fileListOutput a{
	color: #5d799c;
}

.fileListOutput li:hover{
	background-color: #D6B37C;
	padding: 2px;
}

.isolatedOnAllFilesScan{
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 5px;
	background-color: #000000;
	font-size: 20px;
	color: #FF0000;
}

.informationalDisplay{
	margin: 20px 0px 0px -15px;
	padding: 10px 10px 10px 30px;
	border-radius: 55px;
	background-color: #AF986C;
	border: 5px solid #EBEBEB;
	color: #EBEBEB;
	font-size: 15px;
}

.informationalDisplay h1{
	font-size: 30px;
}

.selectedFilesLogHistoryLink{
	padding: 0px;
	margin: 50px 0px -20px 0px;
	font-size: 30px;
}

.folderCopyPathInput{
	width:50%;
}

.folderBrowserSubLinks{
	margin:0px 0px 15px 0px;
	font-size:13px;
}

.executableFileInAllFilesList{
	color:#F30000;
}

div#footer{
	margin:15px 0px 0px 85%;
}