/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	background-color: #F0F0F0;
	font-family: arial;
	margin: 0px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
}

body ul{
	list-style: none;
}

a:link{
	text-decoration: none;
	color: #EE8585;
}

a:visited{
	color: #EE8585;
}

header{

}

header ul{
	margin: 0px 0px 0px 6%;
}

header li{
	float: left;
	margin: 0px 0px 0px 20px;
	font-size: 40px;
}

div#mainAction{
	margin: 50px 0px 0px 20%;
	padding: 10px;
	background-color: #EE8585;
	font-size: 12px;
	text-align: left;
}

div#mainAction a{
	color: #000000;
}

div#mainAction a:visited{
	color: #000000;
}

.systemStatCat{
	font-weight: bold;
}